@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  display: flex;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

main header,
nav header {
  font-weight: 700;
  font-size: 2em;
}

/* Nav */
nav {
  border-right: 7px solid rgb(53, 53, 53);
  width: 1000px;
}

nav header {
  padding: 15px;
}

nav a {
  display: block;
  border-top: 4px solid rgb(22, 22, 22);
  padding: 15px;
  text-decoration: none;
  color: rgb(8, 8, 8);
}

/* Main */
main {
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 500px;
}

code pre {
  background-color: rgb(122, 122, 122);
  width: 1050px;
  padding: 20px;
}

/* Media Query */
@media only screen and (max-width: 576px) {
  body {
    flex-direction: column;
  }

  nav {
    border-bottom: 3px solid rgb(43, 43, 43);
    overflow-y: scroll;
    height: 300px;
  }

  main {
    overflow-y: unset;
  }
}
